/**
 * The first commented line is your dabblet’s title
 */

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Geneva', sans-serif;
	font-size: 18pt;
	line-height: 140%;
}
a {
	color: #ef7336;
	text-decoration: none;
	font-size: 18pt;
}
body {
	background-color: #262626;
}
/* Header */
header {
	background-color: #ffffff;
}
header nav:first-of-type ul li {
	list-style: none;
	display: inline-block;
	color: #7f7f7f;
	margin-left: 0.2em;
	padding: 0.2em;
	margin: 0.1em;
}
header nav a {
	color: #7f7f7f;
}
header nav:nth-of-type(2) {
	background-color: #d4d4d4;
}
header nav:nth-of-type(2) ul li {
	list-style: none;
	display: inline-block;
	color: #7f7f7f;
	margin-left: 0.2em;
	padding: 0.2em;
	margin: 0.1em;
	margin-bottom: 0.5em;
}
header nav:nth-of-type(2) ul li:first-of-type {
	margin-left: 1em;
}
/* Article, Form */
body>article {
	background-color: #ffffff;
	border-radius: 0.5em;
}
body>form {
	background-color: #ffffff;
	border-radius: 0.5em;
}
/* Aside */
}
aside {
	color: #ffffff;
}
aside section {
	margin-top: 15%;
	padding: 1em;
	max-width: 80%;
	color: #ffffff;
}
aside section h1 {
	font-size: 16pt;
}
aside section:first-of-type {
	background-color: #636363;
}
aside.twitter-timeline {
	max-width: 100%;
	margin: auto;
	margin-top: 15%;
}
/* Footer */
body>footer {
	background-color: #f16723;
	padding: 1em;
}
footer a {
	color: white;
	font-size: 18pt;
}
footer li {
	float: left;
	width: 12em;
	list-style: none;
}
footer>ul {
	width: 100%;
	height: 100%;
	display: block;
}
footer>ul>li {
	color: white;
}
footer {
		float: left;
		margin-top: 1em;
	}
footer form {
	display: block;
	width: 100%;
	padding: 1em;
	text-align: center;
}
footer section {
	margin-top: 1em;
	display: inline-block;
	text-align: center;
	width: 100%;
}
/* Content: Artikel */
blockquote {
		font-style: italic;
	}
/* Content: Form */
body>form>fieldset input {
	background-color: #d4d4d4;
	border-radius: 0.3em;
}
body>form button {
	padding: 1em;
	background-color: 
}
body>form>fieldset {
	border-style: none;
}
button, input[type="submit"] {
		background-color: black;
    	border-radius:0.5em;
    	color: white;
    	font-size: 20px;
    	text-decoration: none;
    	cursor: pointer;
    	border:none;
	}
/* Media queries */
/* Scermgrootte: mobiel en tablet in portrait modus */
@media screen and (max-width: 800px) {
	/* Header */
	header img {
		width: 100%;
		max-width: 20em;
	}
	header {
		text-align: center;
	}
	header ul li {
		font-size: 75%;
	}
	/* Aside */
	aside {
		max-width: 100%;
		float: left;
		padding: 1%;
	}
	aside section {
		max-width: 90%;
		margin: auto;
		margin-top: 1em;
	}
	aside p, span, time, a {
		font-size: 10pt;
	}
	aside section h1 {
		font-size: 10pt;
	}
	/* Footer */
	footer li, footer section, footer a {
		font-size: 10pt;
	}
	footer form {
		width: 3em;
		font-size: 10pt;
		text-align: center;
	}
	footer form label {
		font-size: 10pt;
	}
	footer form input {
		width: 8rem;
		height: 1rem;
		margin: auto;
		font-size: 10pt;
	}
	footer form button {
		font-size: 10pt;
		width: 8rem;
		height: 1rem;
		margin: auto;
		font-size: 10pt;
	}
	/* Content: Artikel */
	body>article>section p, body>article>section em, body>article>section h2, body>article>section h3, body>article>section blockquote, body>article>section ol {
		margin: 1em;
		font-size: 10pt;
	}
	body>article>section a {
		font-size: 10pt;
	}
	article>section ol li {
		list-style: none;
		font-size: 10pt;
	}
	body>article {
	background-color: #ffffff;
	border-radius: 0em;
	padding: 1em;
	}
	body>form {
	background-color: #ffffff;
	border-radius: 0em;
	padding: 1em;
	}
	img, video {
		width: 100%;
	}
	/* Content: Formulier */
	body>form p, body>form h2, body>form h3, body>form blockquote, body>form ol, body>form fieldset {
		margin: 1em;
		font-size: 10pt;
	}
	body>form a {
		font-size: 10pt;
	}
	body>form>fieldset {
		padding: 1em;
	}
	body>form>fieldset ul li{
		list-style: none;
		margin-top: 0.3em;
	}
	body>form>fieldset input, body>form>fieldset label, body>form>fieldset li, body>form>fieldset select {
		font-size: 10pt;
	}
	body>form>fieldset input[type="text"], body>form>fieldset input[type="date"], body>form>fieldset input[type="email"] {
		display: block;
	}
	input[type="submit"] {
		font-size: 10pt;
	}
	button {
		display: block;
		margin: auto;
		margin-top: 1em;
	}
}
/* Scermgrootte: klein desktop en tablet */
@media screen and (min-width: 800px) {
	/* Header */
	header img {
		height: 100%;
		float: left;
	}
	header {
		min-height: 4em;
	}
	header ul li {
		font-size: 65%;
	}
	header nav:nth-of-type(2) {
	display: inline-block;
	width: 100%;
	text-align: center;
	}
	/* Aside */
	aside {
		max-width: 100%;
		float: left;
		padding: 1%;
	}
	aside section {
		max-width: 90%;
		margin: auto;
		margin-top: 1em;
	}
	aside p, aside span, aside time, aside a {
		font-size: 10pt;
	}
	aside section h1 {
		font-size: 10pt;
	}
	aside.twitter-timeline {
	max-width: 1000px;
	margin: auto;
	margin-top: 15%;
	}
	/* Footer */
	/* Content: Artikel */
	body>article {
		max-width: 100%;
		float: left;
		margin: 1em;
		padding: 1em;
	}
	body>form {
		max-width: 100%;
		float: left;
		margin: 1em;
		padding: 1em;
	}
	body>article>section p, body>article>section h2, body>article>section h3, body>article>section blockquote, body>article>section ol {
		margin: 1em;
		font-size: 18pt;
	}
	body>article>section a {
		font-size: 18pt;
	}
	article>section ol li {
		list-style: none;
	}
	/* Content: Formulier */
	body>form p, body>form h2, body>form h3, body>form blockquote, body>form ol, body>form fieldset {
		margin: 1em;
		font-size: 18pt;
	}
	body>form a {
		font-size: 18pt;
	}
	body>form>fieldset {
		padding: 1em;
	}
	body>form>fieldset ul li{
		list-style: none;
		margin-top: 0.3em;
	}
	#bedrijfAdresNummer, #nummer {
		width: 3em;
	}
	input[type="submit"] {
		padding: 0.5em;
	}
	/* Pseudo-selectors */
	input[type="submit"]:hover {
	transition: background-color 0.3s;
		border-color: #f16723;
		border-width: 0.1em;
		background-color: white;
		color: black;
	}
	button:hover {
	transition: background-color 0.3s;
	background-color: #f16723;
	color: black;
	}
	header nav:first-of-type ul li:hover {
	transition: background-color 0.3s;
	background-color: #d4d4d4;
	color: #ffffff;
	}
	header nav:nth-of-type(2) ul li:hover {
	transition: background-color 0.3s;
	background-color: #ffffff;
	}
}
/* Scermgrootte: groot desktop */
@media screen and (min-width: 1300px) {
	/* Header */
	header nav:first-of-type ul li {
		font-size: 100%;
	}
	header nav:nth-of-type(2) {
	display: block;
	width: 100%;
	text-align: left;
	}
	/* Aside */
	aside {
		max-width: 17%;
		float: right;
		padding: 1% 1.5% 1% 1%;
	}
	aside section {
	float: right;
	margin-top: 15%;
	padding: 1em;
	max-width: 80%;
	}
	/* Footer */
	/* Content: Artikel */
	body>article {
		max-width: 75%;
		float: left;
		margin: 1em 0em 1em 1em;
		padding: 1em;
	}
	body>form {
		max-width: 75%;
		float: left;
		margin: 1em 0em 1em 1em;
		padding: 1em;
	}
	/* Content: Formulier */
}
/* Pseudo Selectors */
body>form>fieldset input:focus {
		transition: background-color 0.3s;
		border-color: #f16723;
		border-width: 0.1em;
		background-color: white;
	}