/* CSS document by Jurrien Meyrahn */
* {
	margin: 0px;
	padding: 0px;
	font-family: 'helvetica', sans-serif;
	font-size: 18pt;
	line-height: 140%;
}
body {
	background-image: url(img/school.jpg);
	background-size: 4000px;
	background-position: center;
}
article {
	margin-left: 20%;
	margin-right: 20%;
	background-color: hsla(0,0%,100%,0.8);
	padding: 2%;
}
p {
	margin: 2%;
	color: black;
}
body > h1 {
	margin: 10pt;
	font-size: 72pt;
	font-family: arial;
	margin-bottom: 20pt;
	background-color: hsla(199,79%,54%,1);
	border-radius: 30px;
	text-align: center;
	text-decoration: shadow;
	text-shadow: 2px 2px white;
	-webkit-transition-property: text-shadow;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    text-transform: uppercase;
    display: block;
    box-shadow: 0px 10px black;
}
body > h1:hover {
	text-shadow: 8px 8px white;
}
article > h1 {
	font-size: 24pt;
	margin: 2pt;
}
article > h2 {
	font-size: 20pt;
	margin: 2pt;
}
video {
	display: block;
	margin: auto;
	margin-bottom: 5%;
}
em {
	margin-right: 5%;
	margin-left: 5%;
	display: inline-block;
	text-align: center;
}
p a {
	text-decoration: none;
	color: hsla(199,79%,54%,1);
	-webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}
p a:hover {
	color: white;
	background-color: black;
}
p:last-child a{
	background-color: hsla(199,79%,54%,1);
	color: black;
	padding: 1%;
	display: block;
	width: 50%;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	box-shadow: 
 	inset 0 -3px 3px rgba(0,0,0,0.5),
  	inset 0 3px 3px rgba(255,255,255,0.8);
}
p:last-child a:hover {
	background-color: black;
	color: white;
}
img {
	margin: auto;
	display: block;
}
article ol {
	list-style: none;
	text-align: center;
}
article ol li a{
	text-decoration: none;
	color: black;
	background-color: hsla(199,79%,54%,1);
	border-radius: 7px;
	box-shadow: 
 	inset 0 -1px 1px rgba(0,0,0,0.5),
  	inset 0 1px 1px rgba(255,255,255,0.8);
  		-webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    display: inline-block;
    width: 50%;
    margin-top: 5px;
}
article ol li:before {
	content: ' ';
	display: inline-block;
	height: 15px;
	width: 8px;
	background-color: hsla(199,79%,54%,1);
	margin-bottom: 2px;
	border-radius: 5px 0px 0px 5px;
	box-shadow: 
 	inset 0 -3px 3px rgba(0,0,0,0.5),
  	inset 0 3px 3px rgba(255,255,255,0.8);
}
article ol li:after {
	content: ' ';
	display: inline-block;
	height: 15px;
	width: 8px;
	background-color: hsla(199,79%,54%,1);
	margin-bottom: 2px;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 
 	inset 0 -3px 3px rgba(0,0,0,0.5),
  	inset 0 3px 3px rgba(255,255,255,0.8);
}
article ol li a:hover{
	text-decoration: none;
	color: white;
	background-color: black;
}
label {
	display: inline-block;
}
input:after {
	content:"\000A";
    white-space: pre;
}
fieldset {
	padding: 5%;
	border-style: none;
	background-color: rgba(255,255,255,0.3);
}
fieldset legend {
	text-indent: -20pt;
	font-weight: bold;
	font-size: 20pt;
}
fieldset ul {
	list-style: none;
	margin-bottom: 16pt;
}
fieldset ul li {
	background-color: rgba(255,255,255,0.3);
	padding: 5px;
}
fieldset ul li:nth-of-type(odd) {
	background-color: white;
}
input {
	border-radius: 5px;
	border-color: silver;
	border-width: 1px;
	border-bottom-color: hsla(199,79%,54%,1);
	border-bottom-width: 5px;
	-webkit-transition-property: border-bottom-color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    box-shadow: 2px 2px silver;
}
input:focus {
	border-bottom-color: red;
}
input[type="radio"] {
	box-shadow: none;
	margin-right: 10pt;
}
input[type="checkbox"] {
	box-shadow: none;
	margin-right: 10pt;
}
button {
	padding: 5px;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	display: block;
	width: 50%;
	border-radius: 10px;
	color: black;
	background-color: hsla(199,79%,54%,1);
	border-radius: 7px;
	box-shadow: 
 	inset 0 -1px 1px rgba(0,0,0,0.5),
  	inset 0 1px 1px rgba(255,255,255,0.8);
  	-webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}
button:hover {
	color: white;
	background-color: black;
}